.container
{
    border: 1px solid red;

h1
{
    color: red;
}
p
{
    color: blue;
    font-size: 40px;
    text-decoration: underline;
}
}
.container1
{
    border: 2px solid brown;
    margin-top: 30px;
}

